.card {
  display: flex;
  align-items: center;
  gap: 14px;

  padding: 14px;
  margin-top: 12px;

  border-radius: 16px;
  cursor: pointer;

  transition: 0.25s;
}

.card:hover {
  background: #313548;
}

.active {
  background: #313548;
}

.avatar {
  position: relative;

  width: 52px;
  height: 52px;

  border-radius: 50%;

  background: #ff5c5c;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-weight: bold;
  font-size: 18px;

  flex-shrink: 0;
}

.online {
  position: absolute;

  right: 0;
  bottom: 0;

  width: 12px;
  height: 12px;

  border-radius: 50%;

  background: #22c55e;

  border: 2px solid #282b3d;
}

.content {
  flex: 1;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h4 {
  font-size: 15px;
  font-weight: 600;
}

.time {
  font-size: 11px;
  color: #9ca3af;
}

.content p {
  margin-top: 6px;
  color: #9ca3af;
  font-size: 13px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
}

.badge {
  width: 18px;
  height: 18px;

  border-radius: 50%;

  background: #ff5c5c;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 10px;
  font-weight: bold;
}
