.card {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px;
  margin-top: 14px;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  background: #313548;
}

.active {
  background: #313548;
  border-left: 4px solid #ff5c5c;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ff5c5c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  flex-shrink: 0;
}

.content {
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h4 {
  font-size: 16px;
  color: white;
}

.header span {
  font-size: 12px;
  color: #9ca3af;
}

.content p {
  margin-top: 6px;
  color: #9ca3af;
  font-size: 14px;
}
