.card {
  display: flex;
  align-items: center;

  gap: 14px;

  padding: 14px;
  margin-bottom: 10px;

  border-radius: 14px;

  cursor: pointer;

  transition: 0.25s;
}

.card:hover {
  background: #313548;
}

.active {
  background: #313548;
}

.avatar {
  width: 52px;
  height: 52px;

  border-radius: 50%;

  background: #ff5c5c;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 18px;

  color: white;

  flex-shrink: 0;

  position: relative;
}

/* online indicator */

.avatar::after {
  content: "";

  width: 10px;
  height: 10px;

  background: #00d26a;

  border-radius: 50%;

  position: absolute;

  right: 2px;
  bottom: 2px;

  border: 2px solid #262938;
}

.content {
  flex: 1;
  min-width: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header h4 {
  font-size: 15px;
}

.content p {
  margin-top: 5px;

  color: #9ca3af;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.time {
  font-size: 11px;
  color: #9ca3af;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.badge {
  margin-top: 5px;

  width: 20px;
  height: 20px;

  border-radius: 50%;

  background: #ff5c5c;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 11px;
}
