.profile {
  height: 100vh;

  background: #262938;

  border-left: 1px solid #34384b;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 30px 20px;
}

.avatar {
  width: 120px;
  height: 120px;

  border-radius: 50%;

  background: #ff5c5c;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 48px;
  font-weight: bold;

  margin-bottom: 20px;
}

.status {
  color: #9ca3af;
  margin-top: 8px;
}

.info {
  width: 100%;

  margin-top: 35px;

  display: flex;
  flex-direction: column;

  gap: 18px;
}

.item {
  background: #313548;

  border-radius: 12px;

  padding: 16px;
}

.item span {
  display: block;

  color: #9ca3af;

  margin-bottom: 8px;

  font-size: 13px;
}

.item strong {
  font-size: 15px;
}

@media (max-width: 1100px) {
  .profile {
    display: none;
  }
}
