* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #1f2230;
  color: #fff;
  overflow: hidden;
}

.app {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: 320px 1fr 300px;
}

/* ========================= */
/* Tablet */
/* ========================= */

@media (max-width: 1100px) {
  .app {
    grid-template-columns: 280px 1fr;
  }

  .app aside:last-child {
    display: none;
  }
}

/* ========================= */
/* Mobile */
/* ========================= */

@media (max-width: 768px) {
  .app {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}
