.sidebar {
  background: #262938;
  border-right: 1px solid #34384b;

  display: flex;
  flex-direction: column;

  height: 100vh;

  overflow: hidden;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: 300px;
    border-right: none;
    border-bottom: 1px solid #34384b;
  }
}

.menu {
  width: 42px;
  height: 42px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  color: #ffffff;

  border-radius: 12px;

  cursor: pointer;

  margin-bottom: 20px;

  transition: 0.3s;
}

.menu:hover {
  background: #313548;
}
